iframe	{
width:60%;
height:40%;
background:#e74f4f;
border:none;
position:relative;
}

#target {
  position: relative;
  left: 10px;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 2.7em;
  color: #000;
  margin-top: -5px;
}

p.intro {
  font-family: 'Roboto', serif;
  text-align: center;
  color: #555;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}


#map {
       height: 400px;
       width: 100%;
      }

.tweet{
  
}
/*mobile*/
